<!DOCTYPE html>
<html>
  <head>
    <title>Emad Helmy Law Firm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%if asset_exists? "#{params[:controller]}.css" %>
      <%= stylesheet_link_tag params[:controller] %>
    <%end%>
    <%= javascript_include_tag 'application' %>
    <%if asset_exists? "#{params[:controller]}.js" %>
      <%= javascript_include_tag params[:controller] %>
    <%end%>
    <meta name="description" content="Emad Helmy Law Firm">
    <meta name="keywords" content=" Law Firm, Emad Helmy, Law Firm Egypt, Egyptian Law Firm, Legal Advice, Legal Advice Egypt, Lawyer, Egyptian Lawyer, Egyptian Lawyers">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="<%= image_path 'icon.ico' %>" type="image/ico" />
    <link rel="shortcut icon" href="<%= image_path 'icon.ico' %>" type="image/ico" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg border-0 bg-main py-0 ht-40 position-sticky">
      <div id="sidebarCollapse" class="align-items-center d-flex d-md-none justify-content-end w-100">
        <i class="fas fa-bars text-white"></i>
      </div>
      <div class="d-none d-md-flex justify-content-end align-items-center w-100 h-100">
        <a href="#home" class="nav-item">Home</a>
        <a href="#about" class="nav-item">About Us</a>
        <a href="#services" class="nav-item">Services</a>
        <a href="#clients" class="nav-item">Our Clients</a>
        <a href="#contact" class="nav-item">Contact Us</a>
      </div>
    </nav>
    <div id="page-content">
      <%= render 'layouts/partials/alert' %>
      <%= yield %>
    </div>
    <footer class="pd-md-x-50 ht-95 bg-main">
      <div class="d-flex align-items-center h-100">
        <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/logo_footer.png" class="wd-100 wd-md-142">
        <div class="d-flex justify-content-center text-white text-center font-weight-bold w-100" id="footer-text">
          © 2011 Emad Helmy Said Law Firm. <br class="mobile-break">
          All Rights reserved.
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
<script>
  $("#sidebarCollapse").click(function() {
    console.log("Toggle menu")
  })
</script>